*{
  padding: 0;
  margin: 0;
}

h2{
  text-align: center;
  margin-bottom: 25px;
}

.container{
  position:absolute;
  left: 50%;
  border: 2px solid white;
  padding: 50px;
  background: cadetblue;
  border-radius:20px;
}

.input-container {
  display: flex;
  width: 100px;
  margin-bottom: 15px;
}

i {
  padding: 10px;
  min-width: 15px;
  text-align: center;
}

.faStyle{
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  position: absolute;
  margin-left: 0px;
  margin-top: 1px
}

.faRight{
  right: 37px;
}

.input-field {
  width: 140px;
  padding: 10px;
  outline: none;
  text-align: center;
  border-radius: 50px;
  height: 20px;
  background-color: gainsboro;
  border: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.btn {
  background-color: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  position: relative;
  left: 5%;
  border: none;
  text-transform: uppercase;
}

.btn:hover {
  opacity: 1;
}

::placeholder {
  color: black;
}